
<hr />

<div id="readme" class="span5">
    <h4>This example features</h4>
    <ul>
        <li>multiple templates</li>
        <li>template partials</li>
        <li>selected elements in template</li>
        <li>post request</li>
        <li>csrf token</li>
        <li>reusing admin's database connection</li>
        <li>custom slugs</li>
        <li>highcharts</li>
    </ul>
    <div class="panel panel-default center">
        <div class="panel-body">
            <p>Take a look at the code.<br /><strong>It's very well commented!</strong></p>
        </div>
    </div>
</div>
