
<link href="/css/local.css" rel="stylesheet" type="text/css" media="all">
<script src="/js/local.js" type="text/javascript" charset="utf-8"></script>

<h1>Local Static Files</h1>

<p class="lead">Static files referenced inside the view template</p>

<blockquote>
  <p>Static <code>css</code> and <code>js</code> can be added to the template itself, that way they will be loaded only for this view.</p>

  <p>Remember that you still have to specify the absolute <code>path</code> to your public directory inside the <code>custom</code> configuration.</p>
</blockquote>

<div id="global-static-files">
  <p>I'm styled through custom global <code>css</code> file.</p>
</div>

<div id="local-static-files">
  <p>I'm styled through custom local <code>css</code> file.</p>
</div>
